*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.banner{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}
.navbar ul li a:hover{
    background-color: #fff;
    transition: .5s;
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    font-size: 90px;
    font-weight: 600;
    margin-top: 80px;
}
button{
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    width: 200px;
    margin: 20px 5px;
    color: black;
    font-weight: 600;
}
button:hover{
    background: rgb(0, 192, 226);
    transition:  0.5s;
    color: white;
}
.banner video{
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuIcon{
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.navbar ul{
    backdrop-filter: blur(20px)
    
    }
@media (max-width : 843px){
    .menuIcon{
        display: block;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        width: fit-content;
        position: fixed;
        right: -100%;
        top: 10%;
        transition: .5s;
        z-index: 100; 
    }
}





